---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

import '../styles/tailwind.css';
import type { InferEntrySchema } from "astro:content";

export interface Props {
  title: string;
  previewData?: InferEntrySchema<"blog">;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, previewData } = Astro.props;

const previewImg = previewData?.image.opengraph || previewData?.image.src || "/ninlabs.png"
const previewImgAlt = previewData?.image.alt || "ninlabs blog post"
const description = previewData?.snippet || "NINlabs is a research blog site for software engineering, AI, and programming."

const makeTitle = title
  ? title + " | " + "NINlabs"
  : "NINlabs";

const resolvedImageWithDomain = new URL(
 previewImg,
  Astro.site
).toString();


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: previewImgAlt,
          url: resolvedImageWithDomain
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
